@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
    font-family: Inter, sans-serif;
}


nav.navbar {
  min-height: 100px;
}

nav img {
  width: 70px;
  aspect-ratio: 1/1;
  filter: invert();
}

main, #sidebar {
  min-height: calc(100vh - 100px);
}

#sidebar ul {
    /* width: 16.66666667%; */
    top: 0px
}

pre {
  padding: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 20px;
  font-family: 'Fira Code', monospace;
  overflow: hidden;
}

#docs pre {
    padding: 0px;
    border-radius: 0px;
    border-left: 3px solid white;
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tab-pane:not(:first-of-type) {
    /* width: 100%; */
}

.col-6 nav {
}

#result {
    padding: 50px;
}

.nav-link.active, .nav-tabs{
    border-color: rgb(255, 0,0, 0.3)!important;
}

.list-group-item.active {
    background-color: rgb(255, 0,0, 0.3)!important;

}

#nav-result {
    position: relative;
}

.spinner-border {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@media screen and (max-width: 767px) {
    pre {
        overflow-x: auto;
    }
}